@model IEnumerable<CarRents.Models.Renter>

@{
    ViewData["Title"] = "Renters";
}

<h1>Renters</h1>

<p>
    <a asp-action="Create">Create new renter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RenterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RenterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RenterID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RenterID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RenterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
